{% extends "base.html" %}

{% block title %}
<title>Маленькая история</title>
{% endblock%}

{% block content %}
<div class="container">
    <h1>Маленькая история...</h1>
    <p>Школьники решили взять ситуацию в свои руки, когда столкнулись с проблемой отсутствия площадки для продвижения своих проектов. Не нашлось достаточно удобного сайта, где можно было бы делиться идеями, обсуждать их, находить партнеров и поддерживать друг друга. Тогда ребята собрались вместе и решили, что лучший способ решения проблемы – создать свой собственный сайт.</p>
    <p>Они собрались за одним столом, обсудили задачи и распределили обязанности. Кто-то взялся за дизайн сайта, кто-то за написание контента, кто-то за продвижение. Работали они с утра до ночи, не жалея времени и сил. Их энтузиазм был зашкаливающим – они верили в свою идею и были готовы приложить все усилия для ее реализации.</p>
    <p>Их труды не прошли даром. Когда сайт был наконец запущен, он привлек внимание не только школьников, но и взрослых, заинтересованных в творческих проектах. Благодаря новому ресурсу, ребята смогли найти единомышленников, обсудить свои идеи, получить обратную связь и поддержку. Их проекты стали более успешными и популярными, благодаря возможности продвижения на собственной площадке.</p>
    <p>ВЕЛКОМЕ ТУ ПАЛЛЕРИЯ!</p>
</div>
{% endblock %}