{% extends "base.html" %}
{% block content %}
<div class="container-xl content naming">
    <div class="main-screen">
        <div class="card card-c" style="width: 25rem; height: 10rem; border-radius: 5%; display: flex; justify-content: center;">
            <div class="card-body">
              <h5 class="card-title card-title-c">{{project_title}}</h5>
            </div>
        </div>
    </div>
</div>

    <div id="projects">
        <div class="container-xl naming">
            <h5 id="project-title" style="font-size: 2rem;">Аннотация</h5>
            <p>{{annotation}}</p>
        </div>
    </div>
<div>
    <h5 style="font-size: 2rem; margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    text-align: center;
    margin-bottom: 5%;">Ссылки на документы</h5>
    <a class="nav-link" href="{{docs_url}}" style="margin-left: 5%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
  <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
</svg></a>
</div>

{% endblock %}